<div class="col-md-3">
    <section class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Static</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"
                    ng-class="{'list-group-item-success': data.health.t > 0 && data.health.t < 500, 'list-group-item-warning': data.health.t > 500, 'list-group-item-danger': data.health.t === null}">
                    <i class="fa fa-medkit"></i>
                    <b>Health:</b>
                    <span ng-show="data.health.t > 0 && data.health.t < 500">running</span>
                    <span ng-show="data.health.t > 500">slowly responding</span>
                    <span ng-show="data.health.t === null">down</span>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-building-o"></i>
                    <b>Hostname:</b>
                    {{ data.metrics.static.hostname }}
                </li>
                <li class="list-group-item">
                    <i ng-show="data.metrics.static.platform && data.metrics.static.platform.indexOf('win') !== -1"
                       class="fa fa-windows"></i>
                    <i ng-show="data.metrics.static.platform && data.metrics.static.platform.indexOf('ubuntu') !== -1"
                       class="fa fa-linux"></i>
                    <i ng-hide="data.metrics.static.platform || data.metrics.static.platform.indexOf('win') !== -1 || data.metrics.static.platform.indexOf('ubuntu') !== -1"
                       class="fa fa-cubes"></i>
                    <b>Platform:</b>
                    <span class="no-wrap">{{ data.metrics.static.platform }} {{ data.metrics.static.arch }}</span>
                </li>
                <li class="list-group-item">
                    <img src="img/nodejs.png" width="14">
                    <b>Node:</b>
                    <span class="no-wrap">{{ data.metrics.static.nodeVersions }}</span>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-clock-o"></i>
                    <b>Node uptime:</b>
                    <span class="no-wrap">{{ data.metrics.static.nodeStartTime | formatUptime }}</span>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-clock-o"></i>
                    <b>System uptime:</b>
                    <span class="no-wrap">{{ data.metrics.static.osStartTime | formatUptime }}</span>
                </li>
                <li class="list-group-item" ng-repeat="(key, value) in data.metrics.static" ng-if="['hostname', 'platform', 'arch', 'nodeStartTime', 'nodeVersions', 'osStartTime'].indexOf(key) === -1">
                    <i class="fa fa-pencil-square-o"></i>
                    <b>{{key}}:</b>
                    {{ value }}
                </li>
            </ul>
        </div>
    </section>
</div>

<div class="col-md-3">
    <section class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Process Memory</h3>
        </div>
        <div class="panel-body">
            <div class="top-stats-panel chart">
                <gauge max-value="data.metrics.histogram.Memory[0].v[2]" value="data.metrics.histogram.Memory[0].v[0]"></gauge>
                <div>
                    <span>{{(data.metrics.histogram.Memory[0].v[0] / data.metrics.histogram.Memory[0].v[2]) * 100 | number: 1}} %</span><small> ({{data.metrics.histogram.Memory[0].v[0]}}/{{data.metrics.histogram.Memory[0].v[2]}} MB)</small>
                </div>
                <histogram values="data.metrics.histogram.Memory" highlight="0" min-value="0" max-value="data.metrics.histogram.Memory[0].v[2]" show-yaxis="false"></histogram>
            </div>
        </div>
    </section>
</div>

<div class="col-md-3">
    <section class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">System Memory</h3>
        </div>
        <div class="panel-body">
            <div class="top-stats-panel chart">
                <gauge max-value="data.metrics.histogram.Memory[0].v[2]" value="data.metrics.histogram.Memory[0].v[1]"></gauge>
                <div>
                    <span>{{(data.metrics.histogram.Memory[0].v[1] / data.metrics.histogram.Memory[0].v[2]) * 100 | number: 1}} %</span><small> ({{data.metrics.histogram.Memory[0].v[1]}}/{{data.metrics.histogram.Memory[0].v[2]}} MB)</small>
                </div>
                <histogram values="data.metrics.histogram.Memory" highlight="1" min-value="0" max-value="data.metrics.histogram.Memory[0].v[2]" show-yaxis="false"></histogram>
            </div>
        </div>
    </section>
</div>

<div class="col-md-3">
    <section class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">System CPU</h3>
        </div>
        <div class="panel-body">
            <div class="top-stats-panel chart">
                <gauge max-value="100" value="data.metrics.histogram.CPU[0][1]"></gauge>
                <div>
                    <span>{{data.metrics.histogram.CPU[0][1] | number: 1}} %</span>
                </div>
                <histogram values="data.metrics.histogram.CPU" highlight="1" min-value="0" max-value="100" show-yaxis="false"></histogram>
            </div>
        </div>
    </section>
</div>

