<div class="col-md-3">
    <section class="panel">
        <div class="panel-body">
            <div class="top-stats-panel">
                <div id="donut-example"></div>
            </div>
        </div>
    </section>
</div>

<div class="col-md-3">
    <section class="panel">
        <div class="panel-body">
            <div class="top-stats-panel">
                <div id="donut-example2"></div>
            </div>
        </div>
    </section>
</div>

<div class="col-md-3">
    <section class="panel">
        <div class="panel-body">
            <div class="top-stats-panel">
                <div id="donut-example3"></div>
            </div>
        </div>
    </section>
</div>

<div class="col-md-3">
    <section class="panel">
        <div class="panel-body">
            <div class="top-stats-panel">
                <div id="donut-example4"></div>
            </div>
        </div>
    </section>
</div>


<div class="col-md-12">
    <section class="panel">
        <div class="panel-body">
            <div class="top-stats-panel">
                <div id="area-example"></div>
            </div>
        </div>
    </section>
</div>
