<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="show.sidebar = !show.sidebar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="img/logo-128.png" height="80px">
                Nogger - node monitor</a>
        </div>
        <div class="navbar-collapse collapse">
            <h1>{{navbar.headline}}</h1>
            <form class="navbar-form navbar-right" ng-show="navbar.searchEnabled || navbar.filter">
                <select ng-model="activeFilter" ng-show="navbar.filter">
                    <option value="">all</option>
                    <option value="debug">debug</option>
                    <option value="info">info</option>
                    <option value="warn">warn</option>
                    <option value="error">error</option>
                </select>
                <input ng-show="navbar.searchEnabled" ng-model="search" type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</div>