<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="img/logo-128.png" height="80px">
                nogger - node monitor</a>
        </div>
        <div class="navbar-collapse collapse">
            <h1>{{navbar.headline}}</h1>
            <form class="navbar-form navbar-right" ng-show="navbar.searchEnabled">
                <input ng-model="search" type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</div>