
<div class="col-md-6">
    <section class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Search</h3>
            <label class="regex-checkbox">regex<input type="checkbox" ng-model="settings.search.regex"></label>
        </div>
        <div class="panel-body search-box" ng-class="{'search-regex': settings.search.regex}">
            <input ng-model="settings.search.input" type="search" class="form-control form-inline" ng-enter="search()"
                   placeholder="Search...">
            <input type="button" ng-show="settings.search.regex" class="btn" ng-click="settings.search.caseSensitive = ! settings.search.caseSensitive"
                   value="{{settings.search.caseSensitive ? 'i̷' : 'i'}}"
                   title="{{settings.search.caseSensitive ? 'case sensitive' : 'case insensitive'}}">
            <button class="btn" ng-click="search()">GO</button>
        </div>
    </section>
</div>
<div class="controls">
    <div class="col-md-2">
        <section class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" title="Limit the search results">Limit</h3>
            </div>
            <div class="panel-body">
                <input class="form-control form-inline" type="number" min="1" ng-model="settings.limit">
            </div>
        </section>
    </div>
</div>
<div class="controls">
    <div class="col-md-1">
        <section class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" title="Skip this many results">Skip</h3>
            </div>
            <div class="panel-body">
                <input class="form-control form-inline" type="number" min="0" ng-model="settings.skipResults">
            </div>
        </section>
    </div>
</div>
<div class="controls">
    <div class="col-md-1">
        <section class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" title="Start to search at this line (0 = last)">Start</h3>
            </div>
            <div class="panel-body">
                <input class="form-control form-inline" type="number" min="0" ng-model="settings.start">
            </div>
        </section>
    </div>
</div>
<div class="controls">
    <div class="col-md-1">
        <section class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" title="Add this amount of lines before the matched line">Before</h3>
            </div>
            <div class="panel-body">
                <input class="form-control form-inline" type="number" min="0" ng-model="settings.lookbefore">
            </div>
        </section>
    </div>
</div>
<div class="controls">
    <div class="col-md-1">
        <section class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" title="Add this amount of lines after the matched line">After</h3>
            </div>
            <div class="panel-body">
                <input class="form-control form-inline" type="number" min="0" ng-model="settings.lookbefore">
            </div>
        </section>
    </div>
</div>
<div class="col-md-12">
    <ul class="list-group">
        <li class="list-group-item list-group-item-warning center" ng-show="settings.searching">loading</li>
        <li class="list-group-item list-group-item-danger center"
            ng-show="settings.searchResults.length === 0 && settings.searched && !settings.searching">Nothing to show
        </li>
        <li class="list-group-item list-group-item-danger center" ng-show="settings.searchResults.length > settings.reqLimit">Found more than
            {{settings.reqLimit}} entries. Only showing first {{settings.reqLimit}}.
        </li>
        <li class="list-group-item center" ng-show="settings.searchResults.length <= settings.reqLimit && settings.searchResults.length > 0">Found
            {{settings.searchResults.length}} matches out of {{settings.total | number}} lines.
        </li>
    </ul>

    <ul class="list-group">
        <li bindonce ng-repeat="result in settings.searchResults track by $index" class="list-group-item">
            <logline data="result" highlight="settings.search" update="false"></logline>
        </li>
    </ul>
</div>
