<div class="col-sm-3 col-md-2 sidebar inverse" ng-class="{'showSidebar': show.sidebar}">
    <ul class="nav nav-sidebar">
        <li ng-class="{active: route === '/'}"><a href="/"><i class="fa fa-bar-chart-o"></i>live logs</a></li>
        <li ng-class="{active: route === '/search'}"><a href="/search"><i class="fa fa-bar-chart-o"></i>search logs</a></li>
        <li ng-class="{active: route === '/others'}" ng-if="otherInstances.length > 0">
            <a href="/others"><i class="fa fa-align-left"></i>other logs</a>
            <ul class="nav nav-sidebar">
                <li ng-repeat="other in otherInstances | orderBy: 'port' | limitTo: 7" ng-class="{active: other.id === instance.id}">
                    <a ng-href="{{host + ':' + other.port}}" title="{{other.path}}">{{other.id}}</a>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="nav nav-sidebar">
        <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out"></i>Logout</a></li>
        <li><a href="https://github.com/paul-em/nogger" target="_blank"><i class="fa fa-github"></i>Contribute</a></li>
        <li><a href="https://github.com/paul-em/nogger/issues/new" target="_blank"><i class="fa fa-bug"></i>Report a bug</a></li>
    </ul>
</div>
