<div style="position: relative">
    <div stick-bottom>
        <ul class="list-group">
            <li ng-repeat="log in logs | reverse | limitTo:settings.buffer | reverse | filter:testGrep track by $index"
                class="list-group-item"
                ng-class="{'list-group-item-danger': testHighlight(log)}">
                {{log}}
            </li>
        </ul>
        <p ng-show="!logs || logs.length === 0">Nothing to show</p>
    </div>

    <div class="controls">
        <div class="col-md-2">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Buffer lines</h3>
                </div>
                <div class="panel-body">
                    <input class="form-control form-inline" type="number" min="1" max="150" ng-model="settings.buffer">
                </div>
            </section>
        </div>
        <div class="col-md-2">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Update</h3>
                </div>
                <div class="panel-body text-center">
                    <button class="btn btn-block" ng-click="pause()">
                        <i class="fa" ng-class="{'fa-pause': !settings.paused, 'fa-play': settings.paused}"></i>
                    </button>
                </div>
            </section>
        </div>

        <div class="col-md-2">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Follow tail</h3>
                </div>
                <div class="panel-body text-center">
                    <button class="btn btn-block" ng-click="settings.follow = !settings.follow">
                        {{settings.follow ? 'on' : 'off'}}
                    </button>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Grep</h3>
                    <label class="regex-checkbox">regex<input type="checkbox" ng-model="settings.grepRegex"></label>
                </div>
                <div class="panel-body search-box" ng-class="{'search-regex': settings.grepRegex}">
                    <input ng-model="grep" type="search" class="form-control form-inline" placeholder="Search...">
                    <input type="button" ng-show="settings.grepRegex" class="btn" ng-click="settings.grepCaseSensitive = ! settings.grepCaseSensitive" value="{{settings.grepCaseSensitive ? 'i̷' : 'i'}}" title="{{settings.grepCaseSensitive ? 'case sensitive' : 'case insensitive'}}">
                </div>
            </section>
        </div>

        <div class="col-md-3">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Highlight</h3>
                    <label class="regex-checkbox">regex<input type="checkbox" ng-model="settings.highlightRegex"></label>
                </div>
                <div class="panel-body search-box" ng-class="{'search-regex': settings.highlightRegex}">
                    <input ng-model="settings.highlight" type="search" class="form-control form-inline" placeholder="Search...">
                    <input type="button" ng-show="settings.highlightRegex" class="btn" ng-click="settings.highlightCaseSensitive = ! settings.highlightCaseSensitive" value="{{settings.highlightCaseSensitive ? 'i̷' : 'i'}}" title="{{settings.highlightCaseSensitive ? 'case sensitive' : 'case insensitive'}}">
                </div>
            </section>
        </div>
    </div>
</div>
