.no-wrap {
    white-space: nowrap;
}

.morris-hover {
    position: absolute;
    z-index: 1000
}

.morris-hover.morris-default-style {
    border-radius: 5px;
    padding: 6px;
    color: #666;
    background: rgba(255, 255, 255, 0.8);
    border: solid 1px rgba(230, 230, 230, 0.8);
    font-family: sans-serif;
    font-size: 12px;
    text-align: center
}

.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: bold;
    margin: 0.25em 0;
    display: none;
}

.morris-hover.morris-default-style .morris-hover-point {
    white-space: nowrap;
    margin: 0.1em 0;
}

.chart{
    height: 267px;
    text-align: center;
    position: relative;
}

.chart-gauge {
    width: 100%;
    max-width: 300px;
    margin-top: -30px;
}

.chart img {
    margin-top: 100px;
    height: 30px;
}

.center {
    margin: 10px;
    text-align: center;
    display: block;
    cursor: pointer;
}

.chart h1 {
    font-size: 60px;
    margin-bottom: 50px;
}

.chart .histogram {
    width: 100%;
    height:120px;
    position: absolute;
    bottom: 0;
}

.list-group-item .badge {
    visibility: hidden;
}

.list-group-item:hover .badge {
    visibility: visible;
}

.nav-sidebar ul {
    margin: 0;
}

.nav-sidebar li li {
    list-style: none;
    border: none;
}

.nav-sidebar li li a {
    padding-left: 40px;
}

.navbar-collapse h1 {
    font-size: 2.3rem;
    margin-top: 40px;
    display: inline-block;
    text-transform: uppercase;
    color: #a8a8a8;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.need-help {
    margin-top: 10px;
}

.new-account {
    display: block;
    margin-top: 10px;
}

.splash-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.splash-screen h1 {
    text-align: center;
    width: 100%;
    top: 30%;
    position: absolute;
}


.showAnim.ng-hide-add,
.showAnim.ng-hide-remove {
    transition: 0.4s linear all;
    display:block!important;
}
.showAnim.ng-hide-remove {
    opacity: 0;
}
.showAnim.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}
.showAnim.ng-hide-add {
    opacity:1;
}
.showAnim.ng-hide-add.ng-hide-add-active {
    opacity:0;
}