.no-wrap {
    white-space: nowrap;
}
.center {
    text-align: center;
}
.regex-checkbox{
    position: absolute;
    right: 20px;
    top: 7px;
    font-weight: normal;
    font-size: smaller;
    vertical-align: top;
}
.regex-checkbox input {
    margin-left: 5px;
}
.search-box {
    display: flex;
}
.search-regex input:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex: 8;
}
.search-regex input:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex: 1;
}
.search-box button {
    margin-left: 5px;
}

.list-group-item {
    word-break: break-all;
}
.list-group-item .badge {
    visibility: hidden;
}
.list-group-item:hover .badge {
    visibility: visible;
}
.nav-sidebar ul {
    margin: 0;
}
.nav-sidebar li li {
    list-style: none;
    border: none;
}
.nav-sidebar li li a {
    padding-left: 40px;
}
.navbar-collapse h1 {
    font-size: 2.3rem;
    margin-top: 40px;
    display: inline-block;
    text-transform: uppercase;
    color: #a8a8a8;
    margin-left: 100px;
}
.navbar-header {
    min-width: 16.666666%;
}
.navbar-header .navbar-brand {
    position: relative;
    width: 100%;
}
.navbar-header .navbar-brand img {
    border: 5px solid white;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
}
.navbar-header .navbar-brand {
    padding-left: 70px;
}
@media screen and (min-width: 768px) {
    .navbar-header .navbar-brand img {
        right: -80px;
    }
    .navbar-header .navbar-brand {
        padding-left: 15px;
    }
}
@media screen and (min-width: 992px) {
    .navbar-header {
        width: 16.666666%;
    }
}
.navbar-toggle {
    position: absolute;
    padding: 9px 10px;
    margin-top: 23px;
    margin-bottom: 23px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    left: 10px;
    z-index: 9999;
    background-color: white;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help {
    margin-top: 10px;
}
.new-account {
    display: block;
    margin-top: 10px;
}
.splash-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}
.splash-screen div {
    text-align: center;
    width: 100%;
    margin-top: 120px;
}
.splash-screen h1 {
    float: none;
    padding-left: 15px;
}
.splash-screen img {
    width: 20%;
    border: 5px solid white;
}
.showAnim.ng-hide-add,
.showAnim.ng-hide-remove {
    transition: 0.4s linear all;
    display: block !important;
}
.showAnim.ng-hide-remove {
    opacity: 0;
}
.showAnim.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
.showAnim.ng-hide-add {
    opacity: 1;
}
.showAnim.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}
